<a href="https://colab.research.google.com/github/VishnuBhaarath/Machine-Learning-algos-from-Scratch/blob/Logistic-regression-from-scratch/Logisticregressionfromscratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [0]:
data = pd.read_csv('ex2data1.txt', sep=",", header=None) #Loading of datasheet

In [78]:
data.head()

           0          1  2
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [0]:
data.columns = ["EXAM 1 SCORE","EXAM 2 SCORE", "Y"] #Adding header to columns

In [0]:
x=data[['EXAM 1 SCORE','EXAM 2 SCORE']]
y=data['Y']
m=len(y)
X=x.values
Y=y.values

In [0]:
from sklearn import preprocessing 
min_max_scaler = preprocessing.MinMaxScaler(feature_range =(0, 1)) 
  
# Scaled feature 
X = min_max_scaler.fit_transform(X)

In [82]:
Standardisation = preprocessing.StandardScaler() 
  
# Scaled feature 
X = Standardisation.fit_transform(X)
X

array([[-1.60224763,  0.63834112],
       [-1.82625564, -1.2075414 ],
       [-1.53903969,  0.3612943 ],
       [-0.28210129,  1.0863683 ],
       [ 0.69152826,  0.49337794],
       [-1.06199728, -0.5357394 ],
       [-0.23437234,  1.63818413],
       [ 0.4845113 , -1.06373024],
       [ 0.53998666,  1.14651105],
       [ 0.97044832, -1.22709853],
       [ 1.56075461, -1.51418452],
       [ 0.48393864, -1.92641626],
       [ 0.86065022,  0.55490359],
       [ 0.1921582 ,  1.70347834],
       [-1.34839922,  0.53082781],
       [-0.60293429,  1.24314792],
       [ 0.17694982, -0.72913975],
       [ 0.11893077, -1.05699346],
       [ 0.25914553,  1.44433023],
       [ 0.58543944, -1.00845873],
       [ 0.0892403 , -1.26468472],
       [ 1.2413042 , -0.02285779],
       [-0.78042096, -0.93923898],
       [-1.62350714, -1.19053019],
       [ 0.63426559,  0.14875155],
       [-0.17423248,  0.20186768],
       [ 0.75131151, -1.15742514],
       [ 1.41886056, -1.4830648 ],
       [-0.19700066, -0.86350486],
       [-1.38726847, -0.06632457],
       [-0.22029098,  0.35619356],
       [ 1.02063763, -0.49595429],
       [-0.69916396, -0.16735724],
       [-0.70239602,  0.1736574 ],
       [-1.31231814,  0.26748769],
       [-0.56863523, -0.7576197 ],
       [-1.63882482,  1.76571557],
       [-0.07578684,  0.7942862 ],
       [ 0.47234786, -1.33310268],
       [-1.62497511,  0.48760951],
       [ 0.94305124, -0.53618968],
       [-0.72810195, -1.0473818 ],
       [ 1.48750373, -0.03532122],
       [ 0.86383711, -1.38476189],
       [-0.75392586, -1.10328278],
       [-0.17672918, -0.76588887],
       [ 0.59650575,  0.22911224],
       [ 1.65941042,  1.10904426],
       [-0.1844568 ,  1.65210535],
       [ 1.33883167,  1.2155077 ],
       [ 0.73863826,  0.42949041],
       [ 1.73693492, -0.2824808 ],
       [ 1.28623744, -1.23482132],
       [-1.60736862, -0.31507682],
       [-0.79324552, -0.88792768],
       [-0.82939191, -0.34684551],
       [ 1.65290418,  0.14275969],
       [-1.70794943,  1.5888117 ],
       [ 0.44442728,  0.19484284],
       [ 0.31776703,  0.66153625],
       [ 0.50366692,  1.05669679],
       [-1.56803122, -1.03849986],
       [-0.48502704, -1.45814261],
       [-1.83802631, -0.89937003],
       [-1.08343328,  0.012336  ],
       [ 0.04734442, -1.35913441],
       [-1.30092096,  1.69355351],
       [-0.85594644, -0.77550399],
       [ 0.75592876,  1.40046365],
       [ 0.05694243, -0.28289384],
       [-1.70042734, -1.23933351],
       [-0.08289756,  0.63871945],
       [ 0.34617678,  1.62283321],
       [-0.26788246,  0.37172177],
       [-0.35139858,  0.52118118],
       [ 1.76561835,  0.33247025],
       [-0.94934675,  1.20358601],
       [-0.78437891,  0.51855329],
       [-0.26800277, -1.28253412],
       [ 0.8564979 , -1.27109695],
       [ 1.20190067,  0.19371884],
       [ 1.50770647, -1.11022692],
       [ 0.08651467,  0.01986816],
       [-0.43415649, -0.36278249],
       [ 0.76043181,  1.33794685],
       [ 0.14587539,  1.04773882],
       [-1.21735452,  0.68269533],
       [ 0.50790698,  1.30897879],
       [ 0.67100669,  1.64553968],
       [-0.68676645, -0.29489455],
       [ 1.46947562,  0.59152637],
       [ 1.28116721,  1.15128248],
       [-0.52488391, -1.65775547],
       [ 0.45703019,  1.00722043],
       [ 1.25003483, -1.12840052],
       [ 0.92170742, -0.96495748],
       [-1.2077347 ,  1.12938152],
       [ 1.73912916,  0.13809961],
       [-0.53222578, -0.06977207],
       [ 0.4716578 ,  1.26058811]])

In [0]:
b = np.ones((100,1))
X = np.column_stack((b, X))  #Adding a bias value of 1 after standardising the other two columns in the training set

In [0]:
theta0=0;
theta1=0;
theta2=0;
theta=[[theta0],[theta1],[theta2]]; #Intialising theta to be 3*1 vector and initial values to be zero.

In [85]:
Y=Y.reshape(100,1) #Reshaping the test data
Y

array([[0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1]])

In [0]:
def sigmoid(z):   #Defining the sigmoid function for logistic regression
    return 1 / (1 + np.exp(-z))

In [0]:
def cost(theta, X, Y):    #Defining the cost function
    
    first = np.multiply(-Y, np.log(sigmoid(np.dot(X,theta))))
    second = np.multiply((1 - Y), np.log(1 - sigmoid(np.dot(X,theta))))
    return np.sum(first - second) / (len(X))

In [88]:
cost(theta,X,Y)

0.6931471805599453

In [0]:
for i in range(500):   #Performing gradient descent, running the loop for 400 times, setting the learning parameter alpha to be 1.
    t=np.subtract(sigmoid(np.dot(X,theta)),Y)
    grad0=(1/100)*(np.sum(t))
    grad1=(1/100)*(np.sum(np.multiply(t,X[:,1].reshape(100,1))))
    grad2=(1/100)*(np.sum(np.multiply(t,X[:,2].reshape(100,1))))
    temp0=theta0- (1/100)*(np.sum(t))
    temp1=theta1-(1/100)*(np.sum(np.multiply(t,X[:,1].reshape(100,1))))
    temp2=theta2-(1/100)*(np.sum(np.multiply(t,X[:,2].reshape(100,1))))
    theta0=temp0
    theta1=temp1
    theta2=temp2
    theta=[[theta0],[theta1],[theta2]]

In [95]:
cost(theta,X,Y)

0.2034977024115826

In [92]:
def predict(theta, X):       #Checking the accuracy 
    probability = sigmoid(np.dot(X,theta))
    return [1 if x >= 0.5 else 0 for x in probability]

theta_min = theta
predictions = predict(theta_min, X)
correct = [1 if ((a == 1 and b == 1) or (a == 0 and b == 0)) else 0 for (a, b) in zip(predictions, y)]
accuracy = (sum(correct) % len(correct))
print ('accuracy = {0}%'.format(accuracy))

accuracy = 89%